<div class="mypage-profile-content">
    <a href="#" class="profile-image">
        <div class="profile-image-section-holder">
            <img src="{{profile}}" class="profile-image-section">
        </div>
        <span class="profile-image-change-text">Change</span>
    </a>
    <div class="profile-content">
        <div class="profile-content-description">
            <h1 class="profile-name">{{name}}</h1>
            <p class="profile-email">{{email}}</p>
        </div>
        <button class="profile-edit-button">
            <i class="fas fa-pen"></i>
            Edit Profile
        </button>
        <div class="profile-content-update-holder">
            <label class="content-update-label">Name</label>
            <input type="text" name="name" class="content-update-input">
            <button class="content-update-submit">Save</button>
            <button class="content-update-cancel">Cancel</button>
        </div>
    </div>
</div>