<div class="mypage-profile-content">
    <a href="#" class="profile-image">
        <img src="{{profile}}" class="profile-image-section">
        <span class="profile-image-change-text">Change</span>
    </a>
    <div class="profile-content">
        <div class="profile-content-description">
            <h1 class="profile-name">{{name}}</h1>
            <p class="profile-email">{{email}}</p>
        </div>
        <button class="profile-edit-button">
            <i class="fas fa-pen"></i>
            Edit Profile
        </button>
    </div>
</div>