<div class="message-holder message-holder-left">
    <div class="profile-header">
        <div class="profile-image-holder">
            <div class="profile-image-background"><i class="fas fa-user-circle"></i></div>
        </div>
        <div class="profile-name-holder">
            {{author.name}}
        </div>
    </div>

    <div class="speech-bubble-holder">
        <div class="speech-bubble-left speech-bubble-text">{{text}}</div>
        <span class="time-holder">
            {{time}}
        </span>
    </div>
</div>