.sign-container {
    padding: 80px 20px 80px 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.caution {
    visibility: hidden;
}

.sign-container fieldset {
    border-width: 0px;
    display: block;
}

.sign-container legend {
    font-size: 50px;
    font-weight: bold;
}

.sign-container span,input,button {
    width: 100%;
    display: block;
}

.sign-container input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    padding-left: 3px;
}

.sign-container .sign-component {
    margin-top: 30px;
}

.sign-container .sign-component>span {
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.sign-container .sign-button {
    background: #61bd4f;
    color: #ffffff;
    border-radius: 5px;
    height: 50px;
}

.sign-container .sign-component .caution-on::placeholder {
    color: #e25b52;
}





