.board-header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: transparent;
    font-size: 25px;
    color: #fff;
}

.board-header-left-menu {
    height: 100%;
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline-block;
}

.board-header-title {
    display: inline-block;
    font-size: 0.9em;
    vertical-align: middle;
    font-weight: bold;
}

.board-header-team-title {
    display: inline-block;
    font-size: 0.6em;
    vertical-align: middle;
}

.board-header-team-title-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.board-header-team-member {
    display: inline-block;;
    height: 30px;
}

.board-header-team-member-img {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: -5px;
    border-radius: 50%;
}

.board-header-right-menu {
    display: inline-block;
    float: right;
    padding-right: 8px;
}

.board-header-right-menu span {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    padding: 3px 5px 3px 5px;
    cursor: pointer;
    width: 40px;
    border-radius: 4px;
}

.board-header-menu-button {
    display: inline-block;
    line-height: 25px;
    vertical-align: middle;
    margin-left: 20px;
    font-size: 20px;
}

.board-header-remove-button {
    display: inline-block;
    border-radius: 3px;
    background-color: #e25b52;
    color: #fff;
    font-size: 13px;
    text-align: center;
    width: 70px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    margin-left: 20px;
}

.board-header-remove-button-hide, .board-header-title-hide {
    display: none;
}


.board-header-options-holder {
    font-size: 0.85em;
    position: absolute;
    padding: 6px;
    z-index: 5;
    background-color: #FFF;
    border-radius: 5px;
    width: 200px;
    height: 70px;
    display: none;
}

.board-options-title {
    color: #777;
    line-height: normal;
    padding: 6px 0;
    text-align: center;
    border-bottom: 1px #ccc solid;
    font-size: 0.6em;
}

.board-options-item {
    color: #e25b52;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    padding-left: 6px;
    font-size: 0.6em;
}

.board-header-options-item:hover {
    cursor: pointer;
}

.board-header-title-input {
    height: 35px;
    border-radius: 5px;
    border-style: none;
    opacity: 0.7;
    padding: 3px 6px;
    width: 180px;
}
