html, body {
    background-color: #0079bf;
    height: 100%;
    overflow: hidden;
}

div,span {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.board-header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: transparent;
    font-size: 25px;
    color: #fff;
}

.board-header-left-menu {
    height: 100%;
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline-block;
    float: left;
}

.board-header-title {
    display: inline-block;
    font-size: 0.9em;
    line-height: 32px;
    vertical-align: bottom;
    font-weight: bold;
}

.board-header-right-menu {
    display: inline-block;
    float: right;
    padding-right: 8px;
}

.board-header-right-menu span {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    padding: 3px 5px 3px 5px;
    cursor: pointer;
    width: 40px;
    border-radius: 4px;
}

.board-header-right-menu span:hover {
    background-color: #006cab;
}

.board-header-right-menu .chatting-bar-closer {
    display: none;
    line-height: 35px;
    font-size: 30px;
}

.board-header-side-menu .chatting-bar-closer {
    display: none;

    line-height: 35px;
    font-size: 30px;
}

.board-scroll-container {
    position: absolute;
    top: 80px;
    left: 0px;
    bottom: 4px;
    padding: 4px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.board-scroll-container::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
    background-color: #026aa7;
    opacity: 0.7;
}

.board-scroll-container::-webkit-scrollbar {

    width: 12px;
    height: 12px;
    border-radius: 10px;
    opacity: 0.7;
    background-color: #026aa7;
}

.board-scroll-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #5497c2;
}

.board-container {
    padding-top: 10px;
    position: relative;
    height: 100%;
    font-size: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.task-item {
    vertical-align: top;
    margin-left: 6px;
    font-size: 16px;
    border-radius: 3px;
}

.add-list-button {
    background-color: #006cab;
    position: relative;

    display: inline-block;
    height: 38px;
    width: 272px;
    color: #ddd;
}

.add-list-button .add-button {
    padding: 10px 12px 10px 12px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 16px;
}

.add-list-button:hover {
    cursor: pointer;
    background-color: #006098;
}

.hidden-list-title-form {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 74px;
    background-color: #e2e4e6;
    border-radius: 3px;
    z-index: 10;
    padding: 4px;
    display: none;
}

.hidden-list-title-form > input {
    display: block;
    width: 100%;
    padding: 6px 8px 6px 8px;
    height: 32px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    border-color: #0079bf;
    border-style: solid;
    border-width: 1px;
    font-size: 0.9em;
}

.hidden-list-title-form > .add-list-inner-button {
    display: inline-block;
    padding: 6px 16px 6px 16px;
    border-radius: 3px;
    margin-top: 4px;
    font-size: 0.9em;
    height: 30px;
    background-color: #5aac44;
    color: #fff;
    font-weight: bold;
}

.task-list-holder {
    position: relative;
    width: 272px;
    display: inline-block;
    height: 100%;
}

.task-list-wrapper {
    background-color: #006098;
    border-radius: 3px;
}

.task-list-content {
    background-color: #e2e4e6;
    border-radius: 3px;
    overflow: visible;
    overflow-y: hidden;

}

.task-list-content:hover {
    cursor: pointer;
}

.task-list-dragging {
    transform: rotate(5deg);
    transform-origin: 50% 0%;
}

.task-list-title {
    padding: 10px 12px 10px 12px;
    font-weight: bold;
    vertical-align: middle;
    height: 36px;


}

.add-card-button {
    padding: 10px 12px 10px 12px;
    color: #8c8c8c;
    font-size: 0.9em;
}

.add-card-button:hover {
    background-color: #b4b6b8;
    color: #464646;
    text-decoration: underline;
}

#calendar {
    float: right;
    height: 600px;
    width: 800px;
    z-index: 10;
    position: relative;
    top: -100%;
    border-radius: 3px;
    padding: 1px;
    background-color: #fff;
    box-shadow: -2px 2px 2px #aaaaaa;

}

.new-card-title {
    border-radius: 5px;
    border-style: none;
    width: 230px;
    margin: 10px;
    height: 50px;
    padding: 10px;

}

.new-card-button {
    width: 100px;
    height: 35px;
    text-align: center;
    /*padding: 10px;*/
    margin: 10px;
    margin-top: 0px;
    line-height: 35px;
    background-color: #5aac44;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
}

.new-card-wrapper> i {
    font-size: 20px;
    color: #aaaaaa;
    line-height: 35px;
}

.card-wrapper {
    width: 250px;
    /*margin: 10px;*/
    padding: 10px;
    border-radius: 3px;
    border-style: none;
    background-color: #fff;
    font-size: 13px;
}

.card-list-dragging {
    transform: rotate(5deg);
    transform-origin: 50% 0%;
}

.card-holder {
    background-color: #aaaaaa;
    border-radius: 3px;
    border-style: none;
    margin: 10px;
    width: 250px;
    position: relative;
}

.chatting-bar {
    background-color: #edeff0;
    box-shadow: 0 0 6px rgba(0,0,0,.4);
    position: absolute;
    top: 0px;
    right: 0px;
    width: 320px;
    height: 100%;
    overflow: hidden;
}

.chatting-bar-title {
    text-align: center;
    font-size: 1.0em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 12px;
    margin-right: 12px;
    font-weight: bold;
    border-bottom: solid 1px #ccc;
}

.chatting-bar-message-container {
    background-color: #e2e4e6;
    height: 100px;
    margin: 12px;
    border-radius: 5px;
    border: solid 1px #ccc;
    overflow-y: scroll;
}

.chatting-bar-message-holder {
    width: 100%;
}

.date-change-label {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.date-value {
    font-size: 0.8em;
    background-color: #5c5c5c;
    color: #fff;
    padding: 2px 12px 2px 12px;
    display: inline-block;
    border-radius: 20px;
}

.chatting-bar ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    /*background: transparent;  !* optional: just make scrollbar invisible *!*/
}
/* optional: show position indicator in red */
.chatting-bar ::-webkit-scrollbar-thumb {
    /*background: #FF0000;*/
}

.message-holder-left {
    position: relative;

    padding-top: 6px;
    padding: 4px 60px 4px 4px
}

.profile-header {
    height: 24px;
}

.profile-image-holder {
    display: inline-block;
    font-size: 36px;
    line-height: 36px;

}

.message-holder-left .profile-name-holder {
    margin-left: 6px;
    display: inline-block;
    vertical-align: top;
    color: #555;
}

.speech-bubble-holder {
    position: relative;
    max-width: 100%;
    display: inline-block;
}

.time-holder {
    font-weight: lighter;
    position: absolute;
    display: inline-block;
    width: 34px;
    font-size: 0.7em;
    color: #555;
}

.no-author {
    padding-top: 0px !important;
}

.speech-bubble-text {
    text-align: left;
    white-space: pre-wrap;
}

.message-holder-left .speech-bubble-holder {
    margin-left: 40px;
    padding-right: 20px;
    position: relative;
    text-align: left;
}

.speech-bubble-left {
    display: inline-block;
    max-width: 100%;
    word-wrap:break-word;
    background-color: #97acbf;
    border-radius: 6px;
    padding: 4px 12px 4px 12px;

    color: #000;

}

.speech-bubble-left:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right-color: #97acbf;
    border-left: 0;
    border-top: 0;
    margin-top: 8px;
    margin-left: -8px;
}

.message-holder-left .time-holder {
    right: -18px;
    bottom: 2px;
    text-align: left;
}

.message-holder-right {
    position: relative;
    padding: 4px 18px 4px 60px;
    width: 100%;
    overflow: hidden;
    text-align: right;
}

.message-holder-right .speech-bubble-holder {
    position: relative;
    max-width: 100%;
}

.speech-bubble-right {
    display: inline-block;
    position: relative;
    max-width: 100%;
    word-wrap:break-word;
    background-color: #0079bf;
    border-radius: 6px;
    padding: 4px 12px 4px 12px;

    color: #FFF;
}

.speech-bubble-right:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color: #0079bf;
    border-right: 0;
    border-top: 0;
    margin-top: 8px;
    margin-right: -8px;
}

.message-holder-right .time-holder {
    left: -38px;
    bottom: 2px;
    text-align: right;
}

.chatting-input-holder {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 0.8em;
    width: 100%;
    vertical-align: top;
}

.chatting-input-holder textarea {
    vertical-align: top;
    padding: 0px 6px 0px 6px;
    width: 240px;
    border-radius: 3px;
    border: solid 1px #aaa;
    color: #333;
    line-height: 27px;
    font-weight: normal;
    resize: none;
    white-space: nowrap;
    overflow: hidden;
}

.chatting-input-holder button {
    vertical-align: top;
    display: inline-block;
    background-color: #61bd4f;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    height: 31px;
    border-radius: 3px;
    border: none;
}

.chatting-bar .chatting-bar-closer {
    display: inline-block;
    position: absolute;
    text-align: center;
    line-height: 35px;
    width: 35px;
    height: 35px;
    right: 4px;
    top: 4px;
    font-size: 30px;
    color: #777;
}

.chatting-bar-closer:hover {
    cursor: pointer;
}