* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif !important;

}

input:focus {
    outline: none;
    border: 1px solid #0079bf !important;
}

textarea, select, input, button { outline: none; }

.container {
    margin: 20px;
    min-width: 700px;
}

.no-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select:none;
}

button:hover {
    cursor: pointer;

}

button {
    border: none;
}

button:focus {
    outline: none!important;
    border: none;
}

.header-button {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 45px;
}

.overlay-box-shadow {
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
}

.popup {
    width: 300px;
    min-height: 150px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 10000;

    background-color: #edeff0;
    border-radius: 3px;
    padding: 10px;
}

.popup-title {
    border-bottom: solid 1px #9c9c9c;

    padding-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    color: #464646;
    border-bottom: solid 1px #9c9c9c;
}

.popup-description {
    margin: 5px 0px;
    font-size: 13px;
    min-height: 55px;
    overflow-wrap: break-word;
}

.popup-button-wrapper {
    bottom: 10px;
    right: 10px;
    position: absolute;

    float: right;
}

.popup-cancel-button {
    border-radius: 3px;
    background-color: #e25b52;
    color: #fff;
    font-size: 13px;
    text-align: center;
    width: 60px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.popup-ok-button {
    border-radius: 3px;
    background-color: #e25b52;
    color: #fff;
    font-size: 13px;
    text-align: center;
    width: 60px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.popup-button-hide {
    display: none;
}

.popup-background {
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.popup-wrapper {
    z-index: 9998;
    width: 100%;
    position: absolute;
}