* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;

}

input:focus {
    outline: none;
    border: 1px solid #0079bf !important;
}

textarea, select, input, button { outline: none; }

.container {
    margin: 20px;
}

.no-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select:none;
}
