header {
    background-color: #2d211a;
    height: 50px;
    min-width: 600px;
    padding: 0 6px;
}

header .row {
    height: 50px;
    line-height: 47px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.header-logo-div {
    text-align: center;
}

a.header-logo {
    line-height: 50px;
    font-size: 20px;
    color: rgba(255, 255, 255, .95);
}

.header-logo:hover {
    color: #e4f0f6;
    text-decoration-line: none;
}

.header-button {
    background-color: rgba(255, 255, 255, .3) !important;
    margin: 0px auto;
    padding: 0px 5px;
    color: #fff;
    font-weight: bold;
    min-width: 45px;
    min-height: 45px;
    border-style: none;
    border-radius: 3px;
    vertical-align: middle;
    font-size: 1.2em;
}

.header-button:focus {
    outline: none;
}

.header-button:hover {
    color: #d8d8d8;
}

.header-button-boardlist {
    width: 300px;
    background-color: #fff;
    margin: 3px 0px;
    padding: 0 5px 5px 5px;
    z-index: 3;
    position: absolute;
    left: 5px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.header-button-boardlist-title {
    font-size: 13px;
    color: #888888;
    margin: 0 10px;
    font-weight: bold;

}

.header-button-boardlist-title i {
    margin-right: 4px;
}

.header-button-boardlist-content {
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    height: 35px;
    margin: 3px 5px;
    background-color: #e2eff7;
    border-radius: 3px;
    line-height: 35px;
    color: #ffffff;
}

.header-button-boardlist-content:hover {
    cursor: pointer;
    background-color: #000000;
    opacity: 0.9;
}

.header-create-board-button {
    display: block;
    margin: 20px 5px;
    color: #888888;
    font-size: 13px;
    text-decoration-line: underline;
}

.header-notification-hide {
    display: none;
}

.header-notification-holder {
    width: 300px;
    background-color: #fff;
    margin: 3px 0px;
    padding: 0 5px 5px 5px;
    z-index: 3;
    position: absolute;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    text-align: left;
    right: 10px;
}

.header-notification-extra {
    position: absolute;
    display: none;
    top: 20px;
    z-index: 3;
    background-color: #4ebecf;
    color: #FFF;
    width: 100px;
    font-size: 0.7em;
    line-height: 16px;
    padding: 4px 6px;
    border-radius: 3px;
    border-top-right-radius: 0px;
    word-break: break-word;
}

.header-notification-extra:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-color: #4ebecf;
    border-right: 0;
    border-top: 0;
    margin-top: 0px;
    margin-right: -6px;
}

.header-notification-content {
    font-size: 14px;
    font-weight: bold;
    padding: 3px 10px 0px 10px;
    height: 40px;
    margin: 3px 5px;
    background-color: #f1f1f1;
    border-radius: 3px;
    color: #999999;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    list-style: none;
    position: relative;
}

.header-notification-content div {
    line-height: normal;
}

.header-notification-ul {
    margin-bottom: 0px;
}

.header-notification-content a {
    width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    color: inherit;
}

.header-notification-content a:hover {
    color: #555;
}

.header-notification-content:hover {
    cursor: pointer;
}

.notification-swing {
    animation: swing ease-in-out 0.5s infinite alternate;
    color: #e25b52;
}

.notification-tooltoptext {
    display: none;
    /*width: 120px;*/
    color: #fff;
    text-align: center;
    border-radius: .4em;
    padding: 5px 8px;
    font-weight: lighter;
    font-size: 8px;
    height: 30px;
    line-height: 24px;
    position: absolute;
    z-index: 3;
    right: 290px;
    background-color: #4ebecf;

}

.notification-tooltoptext:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #4ebecf;
    border-right: 0;
    border-bottom: 0;
    margin-top: -4px;
    margin-right: -10px;
}

.header-notification-content:hover .notification-tooltoptext {
    display: inline-block;
}

.header-notification-content > div > p {
    display: block;
    font-size: 5px;
    font-weight: lighter;
    height: 8px;
}

@keyframes swing {
    0% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

.header-notification-more {
    font-size: 13px;
    padding: 0px 5px;
    margin: 0px 5px 0px 5px;
    border-radius: 3px;
    /*background-color: red;*/
    font-weight: bold;
    cursor: pointer;
}

.header-notification-more:hover {
    text-decoration: underline;
}

.header-notification-scrollable {
    max-height: 462px;
    overflow-y: auto;
    overflow-x: hidden;
}

.header-notification-scrollable::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(100, 100, 100, .12);
    opacity: 0.7;
}

.header-notification-scrollable::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    opacity: 0.7;
    background-color: rgba(100, 100, 100, .12);
}

.header-notification-scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(80, 80, 80, 0.5);
}