.sidebar {
}

.sidebar-board-button {
    font-size: 15px;
    height: 30px;
    padding: 3px;
    margin: 3px;
    background-color: #e2eff7;
    border-radius: 5px;
    border-style: none;
    width: 100%;
    display: block;
    color: #026aa7;
    text-align: left;
    font-weight: bold;
}

.sidebar > div > p {
    font-weight: bold;
    font-size: 14px;
    color: #888888;
    margin: 10px 5px;
}

.sidebar-team-list {
    font-weight: bold;
    font-size: 13px;
}

.sidebar-team-list > li {
    margin: 10px 5px;
    padding: 0px 3px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    line-height: 30px;
    width: 100%;
}

.sidebar-team-list > li:hover {
    cursor: pointer;
    background-color: #e2e4e6;
}

.sidebar-team-list > li > i {
    padding: 0px 2px;
}

.sidebar-makeTeam-button {
    color: #888888;
    font-size: 13px;
    margin: 15px 5px;

}

.sidebar-makeTeam-box {
    width: 280px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #aaaaaa;
    z-index: 5;
    position: absolute;
    background-color: #ffffff;
    padding: 3px;
}

.sidebar-makeTeam-title {
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: #888888;
    border-bottom: 1px solid #aaaaaa;
    font-size: 13px;


}

.sidebar-makeTeam-title.span {
    margin-right: 3px;
    text-align: right;
}

.sidebar-makeTeam-name, .sidebar-makeTeam-description {
    color: #888888;
    margin: 10px;
    font-size: 12px;
    font-weight: bold;
}
.sidebar-makeTeam-name-box {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    padding: 2px 5px;
}

.sidebar-makeTeam-description-box {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    padding: 2px 5px;
}

.sidebar-makeTeam-name-box::placeholder, .sidebar-makeTeam-description-box::placeholder {
    color: #e25b52;
    padding: 1px;
}
.sidebar-makeTeam-submit-button {
    text-align: center;
    background-color: #f8f9f9;
    color: #aaaaaa;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    margin: 10px;
    border-style: none;
    font-size: 13px;
}

.sidebar-makeTeam-submit-button:focus {
    outline: none;
}

