 {{#partial "head"}}
    <link rel="stylesheet" href="/css/board.css" />
    <script src="/js/common/stomp.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

    <script src="/js/class/Task.js"></script>
    <script src="/js/class/Board.js"></script>
    <script src="/js/class/Chat.js"></script>
    <script src="/js/board/board.js"></script>
 {{/partial}}

 {{#partial "createboard"}}
 {{/partial}}
 {{#partial "sidebar"}}
 {{/partial}}

{{#partial "page_body"}}
 <div class="board-scroll-container">
     <div class="board-container">

         <div class="task-item add-list-button">
             <span class="add-button">+ Add another list</span>
             <div class="hidden-list-title-form">
                 <input type="text" placeholder="Enter list title..."/>
                 <div class="add-list-inner-button">Add List</div>
             </div>
         </div>
     </div>
 </div>


    <div class="chatting-bar">
        <div class="chatting-bar-title">
            Board Chatting Room
        </div>
        <div class="chatting-bar-message-holder">
            <div class="message-holder-left">
                <div class="profile-header">
                    <div class="profile-image-holder">
                        <div class="profile-image-background"><i class="fas fa-user-circle"></i></div>
                    </div>
                    <div class="profile-name-holder">
                        songintae
                    </div>
                </div>

                <div class="speech-bubble-holder">
                    <div class="speech-bubble-left">
                        texttexttexttexttexttexttexttexttext
                        text

                    </div>
                </div>

            </div>
            <div class="message-holder-left">
                <div class="profile-header">
                    <div class="profile-image-holder">
                        <div class="profile-image-background"><i class="fas fa-user-circle"></i></div>
                    </div>
                    <div class="profile-name-holder">
                        songintae
                    </div>
                </div>

                <div class="speech-bubble-holder">
                    <div class="speech-bubble-left">
                        texttexttexttexttexttexttexttexttext
                        text

                    </div>
                </div>
            </div>
            <div class="message-holder-right">

                <div class="speech-bubble-holder">
                    <div class="speech-bubble-right">
                        texttexttexttexttexttexttexttexttext
                        text

                    </div>
                </div>

            </div>

        </div>

        <div class="chatting-input-holder">
            <textarea type="text" rows="1" placeholder="Type in your message..."></textarea>
            <button>Send</button>
        </div>

    </div>

    <script type="text/javascript">
        {{precompile "precompile/board/task_list_template"}}
    </script>
{{/partial}}
{{#partial "contents"}}
 {{/partial}}

{{>base}}