{{#partial "head"}}
<link rel="stylesheet" href="/css/card.css"/>
<link rel="stylesheet" href="/css/board.css"/>
<link rel="stylesheet" href="/css/boardheader.css"/>
<script src="/js/common/stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

<script src="/js/class/Task.js"></script>
<script src="/js/class/Board.js"></script>
<script src="/js/class/Card.js"></script>
<script src="/js/class/Calendar.js"></script>
<script src="/js/class/CardDetail.js"></script>
<script src="/js/class/BoardHeader.js"></script>

<script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
<script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css"/>


<script src="/js/class/Message.js"></script>
<script src="/js/class/Chat.js"></script>
<script src="/js/board/board.js"></script>
{{/partial}}

{{#partial "createboard"}}
{{/partial}}
{{#partial "sidebar"}}
{{/partial}}

{{#partial "page_body"}}

<div class="board-header">
    <div class="board-header-left-menu">
        <span class="board-header-title"></span>
        <input class="board-header-title board-header-title-input board-header-title-hide">
        <div class="board-header-team-title-wrapper">| <span class="board-header-team-title"></span> |</div>
        <div class="board-header-team-member"></div>
        <i class="fas fa-ellipsis-v board-header-menu-button"></i>
    </div>

    <div class="board-header-right-menu">
        <span><i class="fa fa-calendar"></i></span>
        <span class="chatting-bar-closer"><i class="fas fa-comment-dots"></i></span>
    </div>
</div>

<div class="board-scroll-container">

    <div class="board-container">

        <div class="task-item add-list-button">
            <span class="add-button">+ Add another list</span>
            <div class="hidden-list-title-form">
                <input type="text" placeholder="Enter list title..."/>
                <div class="add-list-inner-button">Add List</div>
            </div>
        </div>
    </div>

</div>

<div id="card-detail" data-id="" style="display: none;">
    <div class="card-detail-background"></div>
    <div class="card-detail-container">
        <div class="card-detail-title-wrapper">
            <p class="card-detail-title">
                <i class="fas fa-check"></i>
                <input class="card-detail-title-edit-text card-detail-title-hide">
                <span class="card-detail-title-text"></span>
            </p>
            <p class="card-detail-task-title"></p>
        </div>
        <div class="card-detail-summary-wrapper">
            <div class="card-detail-summary-members"></div>
            <div class="card-detail-summary-due-date"></div>
            <div class="card-detail-summary-labels" style="display: block"></div>
        </div>

        <div class="card-detail-main-container">
            <div class="card-detail-desc-wrapper">
                <p class="card-detail-title">
                    <i class="fas fa-align-left"></i> Description <span class="card-detail-description-edit-button">edit</span>
                </p>
                <p class="card-detail-description-show-box"></p>
                <div class="card-detail-description-edit-box card-detail-description-hide">
                    <textarea class="card-detail-desc" rows="4" placeholder="카드 상세 설명을 입력해주세요."></textarea>
                    <button class="card-detail-save-button">SAVE</button>
                </div>
            </div>
            <div class="card-detail-comment-wrapper">
                <p class="card-detail-title"><i class="far fa-comments"></i> Add Comment</p>
                <textarea class="card-detail-comment" rows="3" placeholder="카드에 댓글을 달아주세요."></textarea>
                <button class="card-comment-save-button">SAVE</button>
            </div>
            <div class="card-detail-comment-list-wrapper">
                <p class="card-detail-title">Comments</p>
                <ul class="card-detail-comment-list-container">

                </ul>

            </div>
        </div>
        <div class="card-detail-side-container">
            <div class="card-detail-side-button card-assignee">
                <i class="far fa-user"></i> Members
                <div class="card-detail-assignee-container card-detail-assignee-container-hide">
                    <p class="card-detail-assignee-container-title">Members</p>
                    <input class="card-detail-assignee-search" type="text">
                    <p class="card-detail-assignee-list-container-tag">Board Members</p>
                    <ul class="card-detail-assignee-list-container"></ul>
                </div>
            </div>
            <div class="card-detail-side-button label"><i class="fas fa-tags"></i> Labels
                <div class="card-detail-label-container" style="display: none">
                    <div class="card-detail-label-title"> labels</div>
                    <ul class="card-detail-label-list">
                    </ul>
                </div>
            </div>
            <div class="card-detail-side-button due-date"><i class="far fa-calendar-alt"></i> Due Date
                <div class="card-detail-date-container" style="display: none;">
                    <input type="date" class="card-detail-date">
                </div>

            </div>
            <div class="card-detail-side-button"><i class="fas fa-file-upload"></i> Attachment</div>
            <div class="card-detail-side-button delete"><i class="far fa-trash-alt"></i> Delete</div>
        </div>
    </div>
</div>


<div class="chatting-bar">
        <span class="chatting-bar-closer">
            <i class="fas fa-angle-right"></i>
        </span>
    <div class="chatting-bar-title">
        Board Chatting Room

    </div>
    <div class="chatting-bar-message-container">
        <div class="chatting-bar-message-holder">

        </div>
    </div>

    <div class="chatting-input-holder">
        <textarea type="text" rows="1" placeholder="Type in your message..."></textarea>
        <button>Send</button>
    </div>

</div>

    <div id="calendar" style="display: none"></div>

    <script type="text/javascript">
        {{precompile "precompile/board/task_list_template"}}
        {{precompile "precompile/board/card_list_template"}}
        {{precompile "precompile/board/chat_message_left_template"}}
        {{precompile "precompile/board/chat_message_right_template"}}
        {{precompile "precompile/board/date_divider_template"}}
        {{precompile "precompile/board/card_list_comment_template"}}
        {{precompile "precompile/board/card_label_template"}}
        {{precompile "precompile/board/card_assignee_item_template"}}
        {{precompile "precompile/board/task_options_template"}}
        {{precompile "precompile/board/card_detail_label_summary_template"}}
        {{precompile "precompile/board/header/option_container_template"}}
        {{precompile "precompile/board/header/option_item_template"}}
    </script>
{{/partial}}
{{#partial "contents"}}
{{/partial}}

{{>base}}