<div class = "create-board-whole-container" style="display: none">
    <div class="create-board-background" >
    </div>
    <div class="create-board-container">
        <form class="create-board-form">
            <div>
                <div class ="create-board-descirption">
                    <input placeholder="Add board title" class="create-board-title board-description-style">
                    <div class="team-select-box">
                        <select class="team-select board-description-style">
                        </select>
                    </div>
                </div>
                <div class="create-board-color-box">
                    <table class="color-box">
                    </table>
                </div>
            </div>
            <input type="submit" class="create-board-submit-button disable" value="Create Board" disabled>
        </form>
    </div>
</div>
