<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/error.css"/>
</head>
<body>
<div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x1_5"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
</div>
<div class='c'>
    <div class='_404'>{{code}}</div>
    <hr>
    <div class='_1'>THE PAGE</div>
    <div class='_2'>{{description}}</div>
    <a class='btn' href='/'>BACK TO HOME</a>
</div>
</body>
</html>
