{{#partial "head"}}
<link rel="stylesheet" type="text/css" href="/css/sidebar.css"/>
<link rel="stylesheet" type="text/css" href="/css/boardsummary.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
<script src="/js/common/sidebar.js"></script>
<script src="/js/class/BoardSummary.js"></script>
<script src="/js/class/BoardCard.js"></script>
{{/partial}}

{{#partial "sidebar"}}
<div class="sidebar">
   <a class="sidebar-board-button" href="/">
       <i class="fa fa-th-list ml-1"></i> Boards
   </a>
    <div>
        <p>TEAMS</p>
        <ul class="sidebar-team-list">
            <li>
                <i class="fa fa-user-o"></i> example team
            </li>
            <li>
                <i class="fa fa-user-o"></i> For test team
            </li>
        </ul>
        <div class="sidebar-makeTeam-container">
            <a href="#" class="sidebar-makeTeam-button"><i class="fa fa-plus"></i> Create a team</a>
            <div class="sidebar-makeTeam-box" style="display: none">
                <form>
                    <div class="sidebar-makeTeam-title">
                        Create Team
                        <span class="float-right"> <i class="fa fa-times"></i> </span>
                    </div>
                    <div class="sidebar-makeTeam-name">
                        Name
                        <input name="name" class="sidebar-makeTeam-name-box" autocomplete="off">
                    </div>
                    <div class="sidebar-makeTeam-description">
                        Description
                        <textarea name="description" rows="4" class="sidebar-makeTeam-description-box"></textarea>
                    </div>
                    <button class="sidebar-makeTeam-submit-button">create</button>
                </form>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    {{precompile "precompile/sidebar_template"}}
    {{precompile "precompile/board_template"}}
    {{precompile "precompile/team_boards_template"}}
</script>
{{/partial}}

{{#partial "contents"}}
<div class = "board-summary">
    <div class="recent-board-list">
        <div class="board-title"><i class="fa fa-clock-o"></i> Recently Viewed</div>
    </div>

    <div class="team-board-list">

    </div>
</div>

{{/partial}}

{{>base}}
