<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="team3">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sticky Board</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    {{> common_resource}}
    <link rel="stylesheet" type="text/css" href="/css/intro.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {{#block "head"}}
    {{/block}}
</head>
<body class="no-drag">
<div class="body-with-img">
    <header class="common-header">
        <div class="row">
            <div class="col-4 intro-header-logo">
                <i class="far fa-sticky-note"></i> <img src="/css/logo2_white.png">
            </div>
            <div class="col-8">
                <!--<a href="/users/signup" class="intro-header-button">Start Now!</a>-->
            </div>
        </div>
    </header>
    <div class="container">
        <div class="main-content-wrapper">
            <p class="main-content-intro">일정 관리를 조금 더 스마트하게,</p>
            <p class="main-content-intro">당신의 프로젝트를 조금 더 유연하게.</p>
            <br>
            <p class="sticky-board">Sticky Board는,</p>
            <p class="sticky-board-main">다양한 사람들과 함께 협업하여 일정을 관리할 수 있도록 돕는 서비스입니다.</p>
            <a href="/users/signin"  class="main-content-signup-button">Start Now!</a>
        </div>

    </div>
</div>
<div class="body-with-explain" >
    <div class="make-team-explain">
        <div class="container">
            <p class="explain-emoticon"><i class="fas fa-users"></i></p>
            <p class="explain-title">주변 사람들과 팀을 구성하고 업무 별로 보드를 만들어보세요.</p>
            <div class="explain-img-center-container"></div>
        </div>
    </div>
    <div class="full-vh-explain">
        <div class="board-page-explain">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <p class="explain-emoticon"><i class="fas fa-chalkboard-teacher"></i></p>
                        <p class="explain-title">자신만의 Task와 Card를 생성하여 일정을 관리하세요.</p>
                        <p class="explain-title">여러 사람들과 동시에 작업을 진행하세요.</p>
                    </div>
                    <div class="col-8">
                        <div class="explain-img-center-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-page-explain">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <div class="explain-img-center-container"></div>
                </div>
                <div class="col-1"></div>
                <div class="col-4">
                    <p class="explain-emoticon"><i class="far fa-comments"></i></p>
                    <p class="explain-title">일정 별로 Due date를 지정하고 라벨링을 할 수 있습니다.</p>
                    <p class="explain-title">담당자를 할당하고 사람들과 대화를 나눠보세요.</p>
                </div>

            </div>
        </div>
    </div>

    <div class="team-page-explain">
        <div class="container">
            <p class="explain-emoticon"><i class="far fa-edit"></i></p>
            <p class="explain-title">마이 페이지와 팀 페이지에서 다양한 정보를 업데이트해보세요.</p>
            <p class="explain-title">팀 활동기록을 알림으로 확인하세요.</p>
            <div class="explain-img-center-container"></div>
        </div>
    </div>

    <div class="calendar-page-explain">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <p class="explain-emoticon"><i class="far fa-calendar-alt"></i></p>
                    <p class="explain-title">카드에 마감일을 정해주고 달력에서 한번에 확인하세요.</p>
                    <p class="explain-title">달력에서 카드의 일정을 업데이트하고 카드를 바로 관리하세요.</p>
                </div>
                <div class="col-8">
                    <div class="explain-img-center-container"></div>
                </div>
            </div>
            <div class="start-now-container">
                <a href="/users/signin"  class="main-content-signup-button">Start Now!</a>
            </div>

        </div>
    </div>
</div>




{{#block "footer"}}
{{/block}}
</body>
</html>