{{#partial "head"}}
    <link rel="stylesheet" href="/css/team.css"/>

    <script src="/js/team/team.js"></script>
{{/partial}}

{{#partial "createboard"}}
{{/partial}}

{{#partial "sidebar"}}
{{/partial}}

{{#partial "page_body"}}
    <div class="team-page-header">

        <div class="team-options-holder">

        </div>
    </div>

    <div class="team-page-content">
        <div class="team-page-title">
            Team Members
        </div>
        <div class="team-page-subtitle">
            Team members can view and join all Team Visible boards and create new boards in the team.
        </div>
        <div class="invite-team-button-holder">
            <button class="invite-team-button">
                <i class="fas fa-user-plus"></i>Invite Team Members
            </button>
        </div>

        <div class="team-users-holder">

        </div>
    </div>

    <div class="user-search-box overlay-box-shadow">
        <div class="user-search-box-title">
            Add Members
        </div>
        <div class="user-search-content">
            <div class="user-search-title">
                <i class="far fa-user"></i>Enter Email Address or Name
            </div>
            <div class="user-search-bar-holder">
                <input type="text" placeholder="e.g. Junsulime" spellcheck="false"/>
            </div>
            <div class="user-search-bar-results">

            </div>
        </div>
    </div>

    <div class="user-rights-box overlay-box-shadow">
        <div class="user-rights-box-title">
            Change Rights
        </div>
        <div class="user-rights-content">
            <div id="Admin" class="user-rights-item">
                Admin
            </div>
            <div id="Manager" class="user-rights-item">
                Manager
            </div>
            <div id="Member" class="user-rights-item">
                Member
            </div>
        </div>
    </div>

    <div class="profile-avatar-holder">
        <div class="profile-avatar-header">
            <span class="profile-avatar-header-title">Change Avatar</span>
            <i class="fas fa-times profile-avatar-holder-icon"></i>
        </div>
        <div>
            <div class="profile-avatar-contents">
                <p class="profile-upload-error"></p>
                <form class="profile-upload" action="/api/users/profile" method="POST" enctype="multipart/form-data">
                    <input type="file" class="profile-upload-button" tabindex="-1" name="file" accept="image/*">
                    <a class="profile-upload-text">
                        <i class="fas fa-paperclip profile-upload-icon"></i>
                        Upload a new picture
                    </a>
                </form>
            </div>
        </div>
    </div>

<script type="text/javascript">
    {{precompile "precompile/team/team_page_header"}}
    {{precompile "precompile/team/team_page_member"}}
    {{precompile "precompile/team/search_result_member"}}
</script>

{{/partial}}

{{#partial "contents"}}
{{/partial}}

{{>base}}