<div class="team-user-container">
    <div class="profile-image-holder">
        <img class="profile-image" src="{{profile}}" />
    </div>
    <div class="details">
        <span class="profile-name">
            {{name}}
        </span>
        <span class="profile-email">
            {{email}}
        </span>
    </div>
    <div class="profile-options-holder">
        <button class="rights-button">
            <span>{{userPermission}}</span>
            <i class="fas fa-chevron-circle-down"></i>
        </button>
        <button class="remove-button">
            <i class="fas fa-times"></i>
            <span>Remove</span>
        </button>
    </div>
</div>