<div class="team-profile-holder">
    <div class="team-profile-content">
        <a href="#" class="team-profile-image">
            <img src="{{profile}}" class="team-profile-image-section">
            <span class="team-profile-image-change-text">Change</span>
        </a>
        <div class="profile-content">
            <div class="team-profile-content-description">
                <h1 class="team-profile-name">{{name}}</h1>
            </div>
            <button class="team-profile-edit-button">
                <i class="fas fa-pen"></i>
                Edit Profile
            </button>
        </div>
    </div>
</div>